.login {
  min-width: 30vw;
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change {
  margin-top: 10px;
}

.span {
  color:#672702;
}

.span:hover {
  cursor: pointer;
  color:#220d01;
}

@media (max-width: 1100px) {
  .login {
    width: 90%;
    height: 90%;
  }
}


@media (max-width: 850px) {
  .login {
    padding-top: 0;
  }
}
