.login {
  min-width: 30vw;
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.change {
  margin-top: 10px;
}

.span {
  color: #672702;
}

.span:hover {
  color: #220d01;
}

@media (max-width: 1100px) {
  .login {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 850px) {
  .login {
    padding-top: 0;
  }
  .span {
    color: #ff5c00;
    font-weight: bold;
    text-shadow: 1px 1px 3px #220d01;
  }
}

@media (max-width: 480px) {
  .change {
    font-size: 0.8rem;
  }
}

@media (max-height: 400px) {
  h2 {
    padding: 10px 0 0 0;
  }
  label,
  .change {
    font-size: 0.8rem;
  }
}
