.challElement {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.challElement:last-of-type .challenge{
    animation: appear 0.5s ease-in-out forwards;
}

@keyframes appear {
    0% {
        padding: 10px;
        font-weight: 500;
    } 50% {
        padding: 12px;
    } 100% {
        padding: 10px;
        font-weight: bolder;
    }
}

.challenge {
    border: 1px solid #9B3800;
    border-radius: 20px;
    background: #FF9C64;
    color: #9B3800;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #9B3800;
}

.challenge:hover {
    cursor: no-drop;
}

.done {
    font-size: 0.8rem;
    color: #9B3800;
    text-decoration: line-through;
}

.fist {
    display: flex;
    align-items: center;
}

.fist img {
    height: 40px;
}