.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.typeChall {
  min-width: 275px;
  background: #ffcfb3;
  color: #9b3800;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.addChallButton {
  font-size: 2rem;
}

.addChallButton:active {
  font-size: 1.8rem;
}

.start {
  background: #9b3800;
  padding: 10px;
  border-radius: 20px;
}

.start:hover {
  background: #4d1d01;
  color: #f8e4d9;
}

.error {
  color: #871b00;
}

.tip {
  font-size: .7rem;
  margin: 10px 0;
  opacity: .8;
}


@media (max-width: 1100px) {
  .inputContainer {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .inputContainer {
    width: 100%;
    margin: 0;
  }

  .typeChall {
    min-width: 255px;
  }
  .addChallButton {
    margin-left: 0;
  }
}

@media (max-height: 400px) {
  .inputContainer {
    margin-top: 5px;
  }
}
