.box {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../../../img/mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    width: 60%;
    height: 80%;
    border-bottom: 10px solid #9B3800;
}

.frisella {
    font-size: 1.4rem;
    text-align: right;
    padding: 20px;
    width: 30%;
    font-style: italic;
    background:rgba(173, 173, 173, 0.8);
    position: fixed;
    animation: slidein 2s ease-out;
}



h3 {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    background:rgb(128, 128, 128);
    margin-top: 10px;
    padding: 20px 50px;
    width: 60vw;
    color: rgba(207, 206, 206, 0.9);
    text-align: left;
    animation: slidein 2s ease-out;
    animation: show 2s ease-out;
    border-left: 20px solid #FF5D00;
}

p {
    
    color: rgba(255, 255, 255, 0.8);
}

