.info {
  border-top: 1px solid white;
  margin: 10px 0 40px 0;
  width: 100%;
  text-align: center;
  height: 30vh;
  overflow: hidden;
}

.info h2 {
  color: #ffcfb3;
  padding: 15px 0;
}

.info p,
.info div {
  margin: auto;
  line-height: 1.5rem;
}
.info div p {
  width: 100%;
}

.info li {
  margin: 0 40px;
}

.textSpan {
  color: #fff;
  background: #060200;
  width: auto;
  padding: 0;
}

.icon {
  font-size: 5rem;
  color: #ff9c64;
  background: #060200;
  position: absolute;
}

.icon:hover {
  color: #ff5c00;
  cursor: pointer;
}

.iconRight {
  bottom: 13vh;
  right: 7vw;
}

.iconLeft {
  bottom: 13vh;
  left: 7vw;
}

a {
  text-decoration: none;
  color: #ff5c00;
}

a:hover {
  font-weight: bold;
}

.buttons {
  position: absolute;
  bottom: 5px;
  width: 20%;
  left: 40%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.input {
  display: none;
}

.button {
  width: 10px;
  height: 10px;
  background: #ffcfb3;
  padding: 0;
  margin: 5px;
  border: none;
}

.button:hover {
  background: #e2783a;
  cursor: pointer;
}

.current {
  background: #ff5c00;
}

.wrapper {
  position: absolute;
  height: 25vh;
  width: 60vw;
  bottom: 40px;
  left: 20vw;
  display: flex;
  align-items: center;
  z-index: 2;
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: all 1000ms ease-in-out;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

@media (max-width: 850px) {
  .wrapper {
    width: 70vw;
    left: 15vw;
    height: 90vh;
  }
  .info {
    height: 100vh;
  }
  .icon {
    font-size: 4rem;
    z-index: 1;
  }
  .iconRight {
    bottom: 45vh;
    right: -0.5vw;
  }

  .iconLeft {
    bottom: 45vh;
    left: -0.5vw;
  }

  .buttons {
    width: 40%;
    left: 30%;
  }
}

@media (max-width: 450px) {
  
  .iconRight {
    right: -7vw;
  }

  .iconLeft {
    left: -7vw;
  }
}


@media (max-height: 450px) {
  .info {
    font-size: .8rem;
  }
  .wrapper {
    top: 20vh;
  }
}
