.info {
  border-top: 1px solid white;
  margin: 10px 0 40px 0;
  width: 100%;
  text-align: center;
  height: 30vh;
}

/* .slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.info h2 {
  color: #ffcfb3;
  padding: 15px 0;
}

.info p,
.info div {
  margin: auto;
  line-height: 1.5rem;
}
.info div p {
  width: 100%;
}

.info li {
  margin: 0 40px;
}

.textSpan {
  color: #fff;
  background: #060200;
  width: auto;
  padding: 0;
}

.icon {
  font-size: 5rem;
  color: #ff9c64;
  background: #060200;
  position: absolute;
}

.icon:hover {
  color: #ff5c00;
  cursor: pointer;
}

.iconRight {
  bottom: 13vh;
  right: 7vw;
}

.iconLeft {
  bottom: 13vh;
  left: 7vw;
}

a {
  text-decoration: none;
  color: #ff5c00;
}

a:hover {
  font-weight: bold;
}

form {
  position: absolute;
  bottom: 5px;
  width: 50%;
  left: 25%;
  height: 30px;
}

input {
margin: 5px;
}

input:hover {
  cursor: pointer;
}
.wrapper {
  position: absolute;
  height: 25vh;
  width: 60vw;
  bottom: 40px;
  left: 20vw;
  display: flex;
  align-items: center;
  z-index: 2;
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: all 1000ms ease-in-out;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

@media (max-width: 850px) {

  .wrapper {
    width: 70vw;
    left: 15vw;
    height: 90vh;
  }
  .info {
    height: 100vh;
  }
  .icon {
    font-size: 4rem;
    z-index: 1;
  }
  .iconRight {
    bottom: 45vh;
    right: -0.5vw;
  }

  .iconLeft {
    bottom: 45vh;
    left: -0.5vw;
  }
}