.container {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../../img/mountain.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    width: 60%;
    height: 80%;
    border-bottom: 10px solid #9B3800;
}

.frisella {
    font-size: 1.4rem;
    text-align: right;
    padding: 20px 20px 0 20px;
    width: 30%;
    font-style: italic;
    background:rgba(128, 128, 128, 0.8);
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    background:rgb(128, 128, 128);
    margin-top: 10px;
    padding: 20px 50px;
    width: 100vw;
    color: #FF5D00;
    text-align: left;
}

