.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile label {
    color: #ff9c64;
  }
  
  .profile label:hover {
    cursor: pointer;
    font-weight: bold;
  }
  
  .profile input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .profile img {
    width: 50%;
  }