.timer {
    font-size: 1.2rem;
    margin: 20px;
    line-height: 30px;
}

span {
    color: #fff;
    background: #9B3800;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bolder;
    display: inline-block;
    width: 150px;
}