.username {
  top: 20%;
  padding: 0;
  margin: 0 auto;
  width: max-content;
  position: absolute;
}

.label {
  color: #ff9c64;
  font-size: 0.8rem;
  margin-top: 150px;
  position: absolute;
}

.input {
  border: none;
  padding: 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  width: 40%;
  position: absolute;
  margin-top: 210px;
}

.i {
  position: absolute;
  margin-top: 205px;
  right: 23%;
}

.image {
  width: 15vh;
  height: 15vh;
  border-radius: 500px;
  margin: 0 auto;
  box-shadow: 0 0 20px #9b3800;
  position: absolute;
  top: 30%;
}

.parts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.part {
  width: 50%;
  height: 50%;
  transition: all .5s;
}

.part:hover, .part:focus {
  box-shadow: 0 0 20px #9b3800;
  cursor: pointer;
}

.part:active {
  box-shadow: 0 0 10px #9b3800;
  cursor: pointer;
}

.streak {
  border-radius: 500px 0 0 0;
}

.streak h4 {
  transform: rotate(-50deg);
  margin: 0 auto;
  position: relative;
  top: 40%;
  left: -25%;
}

.state {
  border-radius: 0 500px 0 0;
}

.state h4 {
  transform: rotate(50deg);
  margin: 0 auto;
  position: relative;
  top: 35%;
  right: -15%;
}

.body {
  border-radius: 0 0 0 500px;
}

.body h4 {
  transform: rotate(50deg);
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: -20%;
}

.bank {
  border-radius: 0 0 500px 0;
}

.bank h4 {
  transform: rotate(-45deg);
  margin: 0 auto;
  position: relative;
  top: 55%;
  right: -15%;
}
