.username {
  top: 5%;
  padding: 0;
  margin: 0 auto;
  width: max-content;
  position: absolute;
}

.form {
  width: 90%;
  position: absolute;
  top: 40%;
  background: rgba(6, 2, 0, 0.6);
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(6, 2, 0, 0.6);
  z-index: 3;
}

.cancel {
  position: absolute;
  left: 10px;
}

.cancel:hover {
  cursor: pointer;
}

.label {
  color: #ffcfb3;
  font-size: 0.8rem;
  border: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: block;
}

.input {
  width: 80%;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-size: 0.7rem;
  display: inline-block;
  background: #ffcfb3;
  color: #060200;
}

i {
  display: inline-block;
  margin-left: 10px;
}

.image {
  width: 40%;
  height: 40%;
  border-radius: 500px;
  margin: 0 auto;
  box-shadow: 0 0 20px #9b3800;
  position: absolute;
  top: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.parts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.part {
  width: 50%;
  height: 50%;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.part:hover,
.part:focus {
  box-shadow: 0 0 20px #9b3800;
  cursor: pointer;
}

.part:active {
  box-shadow: 0 0 10px #9b3800;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 80%;
  width: 50%;
  height: 50%;
  background: rgba(155, 56, 0, 0.2);
  border: 1px solid rgba(155, 56, 0, 0.3);
  z-index: -3;
  border-radius: 100px;
  overflow: hidden;
}

.streak {
  border-radius: 500px 0 0 0;
}

.streak:hover,
.streak:focus,
.streak:active {
  box-shadow: none;
  cursor: none;
}

.streak h4 {
  transform: rotate(-50deg);
  margin: 0 auto;
  position: relative;
  top: 40%;
  left: -25%;
}
.streak > .text {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.state {
  border-radius: 0 500px 0 0;
}

.state h4 {
  transform: rotate(50deg);
  margin: 0 auto;
  position: relative;
  top: 35%;
  right: -15%;
}

.state > .text {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.body {
  border-radius: 0 0 0 500px;
}

.body h4 {
  transform: rotate(50deg);
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: -20%;
}

.body > .text {
  position: absolute;
  top: 40px;
  right: 40px;
}

.bank {
  border-radius: 0 0 500px 0;
}

.bank h4 {
  transform: rotate(-45deg);
  margin: 0 auto;
  position: relative;
  top: 55%;
  right: -15%;
}

.bank > .text {
  position: absolute;
  top: 40px;
  left: 40px;
}

.span {
  color: #572001;
  font-weight: bolder;
}

@media (max-width: 850px) {
  .username {
    position: static;
  }
  .image {
    width: 30vw;
    height: 30vw;
    position: static;
    margin-top: 15px;
  }

  .form {
    position: static;
    margin: 10px 0;
  }

  .parts {
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40vh;
  }

  .part {
    width: 45%;
    height: 20vh;
    transition: all 0.5s;
    margin: 5px;
    border-radius: 0;
    background: rgba(255, 93, 0, 0.2);
  }

  .streak h4,
  .state h4,
  .body h4,
  .bank h4 {
    position: static;
    transform: none;
    padding: 3vh;
  }

  .text {
    width: 100%;
  }

  .streak .text,
  .state .text,
  .body .text,
  .bank .text {
    position: static;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .image {
    width: 20vh;
    height: 20vh;
  }
}

@media (max-height: 400px) {
  .image {
    width: 20vw;
    height: 20vw;
    z-index: 2;
  }
  .parts {
    position: absolute;
    height: 50%;
    top: 10vh;
  }
}
