.set {
    width: 40%;
    border: 5px solid lightskyblue;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

input, button {
    margin: 20px auto 0 auto;
    border-radius: 15px;
    padding: 10px;
    display: block;
}