.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    background: #060200;
  }
  
  .nav p {
    color: #ff8139;
    font-size: 0.8em;
    padding: 10px;
    border-left: 0.1rem solid #fff;
    text-align: center;
  }
  
  .nav p:first-child {
    color: #fff;
    border: none;
  }
  
  .nav p:hover {
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
  }
  
  .nav p:focus {
    border: 0.1rem solid #fff;
  }
  
  .navItemClicked {
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  
  .navItemClicked:hover {
    font-weight: bold;
    cursor: auto;
  }

  .user {
    display: flex;
    align-items: center;
    border-left: 0.1rem solid #fff;
  }
  
  .user img {
    width: 30px;
    margin-left: 10px;
  }
  
  .user p {
    border: none;
    color: #fff;
    margin-top: 0.2rem;
  }

  @media (max-width: 850px) {
    .nav {
      background-color: #060200;
      flex-wrap: wrap;
      position: relative;
    }
  }