.footer {
  position: fixed;
  bottom: -35vh;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: #060200;
  color: #fff;
  z-index: 10;
  overflow: hidden;
}

.footer i {
  font-size: 1.3em;
  color: #fff;
}

.footer i:hover {
  color: #ff5c00;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6rem;
  height: 5vh;
  position: relative;
  z-index: 3;
  background: #060200;
}

.button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 45px 40px 40px 50px;
  border-radius: 100px 0 0 0;
  background: #ff5c00;
  border: none;
  color: #411b06;
  font-size: 1.1em;
  font-weight: bold;
}

.buttonClicked {
  background: none;
  border: none;
  color: #fff;
  font-size: 0.9em;
}

.button:hover {
  color: #000000;
  background: #fc6914;
  cursor: pointer;
}

.button:active {
  outline: none;
  border: none;
  font-size: 0.9em;
}

.button:focus,
.button:active {
  outline: none;
  border: none;
}

.button::-moz-focus-inner {
  border: 0;
}

.visible {
  position: absolute;
  bottom: 0;
}

.enter {
  position: absolute;
  bottom: -35vh;
}
.enterActive {
  position: absolute;
  bottom: 0;
  transition: all 1000ms ease-in-out;
}
.exit {
  position: absolute;
  bottom: 0;
}
.exitActive {
  position: absolute;
  bottom: -35vh;
  transition: all 1000ms ease-in-out;
}

@media (max-width: 850px) {
  .footer {
    position: fixed;
    bottom: -95vh;
    height: 100vh;
  }
  .visible {
    position: absolute;
    bottom: 0;
  }

  .enter {
    position: absolute;
    bottom: -95vh;
  }
  .enterActive {
    position: absolute;
    bottom: 0;
    transition: all 1000ms ease-in-out;
  }
  .exit {
    position: absolute;
    bottom: 0;
  }
  .exitActive {
    position: absolute;
    bottom: -95vh;
    transition: all 1000ms ease-in-out;
  }
  .button {
    bottom: 0;
    right: 0;
    padding: 20px 20px 15px 30px;
    border-radius: 100px 0 0 0;
    background: #ff5c00;
    border: none;
    color: #411b06;
    font-size: .9em;
    font-weight: bold;
  }
}

@media (max-height: 450px) {

  .top {
    height: 8vh;
  }
  .footer {
    position: fixed;
    bottom: -92vh;
    height: 100vh;
  }
  .visible {
    position: absolute;
    bottom: 0;
  }

  .enter {
    position: absolute;
    bottom: -92vh;
  }
  .enterActive {
    position: absolute;
    bottom: 0;
    transition: all 1000ms ease-in-out;
  }
  .exit {
    position: absolute;
    bottom: 0;
  }
  .exitActive {
    position: absolute;
    bottom: -92vh;
    transition: all 1000ms ease-in-out;
  }
}