.info {
  border-top: 1px solid white;
  margin: 10px 0 40px 0;
  width: 100%;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info h2 {
  color: #ffcfb3;
  padding: 15px 0;
}

.info p,
.info div {
  max-width: 60%;
  margin: auto;
  line-height: 1.5rem;
}
.info div p {
  width: 100%;
}

.info li {
  margin: 0 40px;
}

.textSpan {
  color: #fff;
  background: #060200;
  width: auto;
  padding: 0;
}

.icon {
  font-size: 5rem;
  color: #ff9c64;
  background: #060200;
}
.icon:hover {
  color: #ff5c00;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ff5c00;
}

a:hover {
  font-weight: bold;
}

form {
  position: fixed;
  bottom: 5px;
  width: 50%;
  left: 25%;
}

input {
  margin: 10px;
}

input:hover {
  cursor: pointer;
}

@media (max-width: 850px) {
  .info p,
  .info div {
    max-width: 100%;
    font-size: .9rem;
  }
  .icon {
    font-size: 2rem;
  }
}
