.frisella {
  padding: 1.5rem;
  width: 28%;
  font-style: italic;
  position: fixed;
  bottom: 100px;
  right: 0;
  color: #f3efed;
  text-align: right;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: default;
}

h3 {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: normal;
  border-radius: 0 0 0 150px;
  margin: 2%;
  padding-top: 2%;
  color: #ffcfb3;
  animation: show 2s ease-out, slideinleft 2s ease-out;
  border-left: 20px solid #ff5c00;
  width: 70%;
  text-align: right;
}

@media (max-width: 850px) {
  .frisella {
    display: none;
  }

  .frisella p {
    display: none;
  }
}

@media (min-width: 850px) {
  .frisella {
    font-size: .8rem;
    line-height: 1.5rem;
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  .frisella {
    display: none;
  }
}

