.logo {
  position: relative;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.name {
  background: url("../../img/learn.jpg") center;
  letter-spacing: 3px;
}

@media (max-width: 850px) {
  .logo {
    margin: auto;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .logo {
    width: 100%;
  }
}
