.challElement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.challenge {
  background: url(../../../img/challenge.png);
  background-repeat: repeat;
  color: rgb(199 194 194);
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: anywhere;
  border-radius: 7px;
}

.challenge i:hover {
  cursor: pointer;
}

.challenge input {
  margin: 0;
  width: 100%;
  background: none;
  color: rgb(199 194 194);
}

.done {
  color: #9b3800;
}

.fade {
  opacity: 0.8;
}

.fist {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  margin-right: 25px;
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
}

.fist img {
  height: 25px;
}

@media (max-width: 1600px) {
  .challenge {
    margin: 2px;
    padding: 5px;
  }
}

@media (max-width: 850px) {
  .challElement {
    margin: 0;
  }
  .challenge {
    background: rgba(255, 92, 0, .7);
    color: #ffcfb3;
    border: 1px solid #ff5c00;
    margin: 3px;
  }
  .fist {
    border: 2px solid #ffcfb3;
  }
}

@media (max-height: 400px) {
  .challenge {
    padding: 3px;
  }
}
