.goalsForm {
  display: flex;
  flex-direction: column;
}

.image {
  width: 20%;
  height: 20%;
  border-radius: 500px;
  margin: 0 auto;
  box-shadow: 0 0 20px #9b3800;
  position: absolute;
  top: 2%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.5;
}

.buttons {
  display: flex;
}

.goalsForm label {
  padding: 2px 10px;
  margin: 2px 0 2px -50px;
}

.goalsForm input,
.goalsForm button {
  margin: 5px;
  padding: 5px;
  border-radius: 30px;
}

.goalsForm input {
  border: none;
  background: linear-gradient(#ffcfb3, #fda06a);
}

.goalsForm button {
  width: 50%;
  margin: 5px;
}

.goalsForm button:last-child {
  background: #5f2300;
}

.goalsForm button:hover {
  cursor: pointer;
}

@media (max-width: 850px) {
  .image {
    position: static;
    margin: 20px;
    width: 10vh;
    height: 10vh;
  }
}

@media (max-height: 450px) {
  .image {
    position: absolute;
    top: 25vh;
    left: 10vw;
    width: 30vh;
    height: 30vh;
    margin: 2px;
  }

  .goalsForm {
    position: absolute;
    top: 30vh;
  }

  .title {
    position: absolute;
    top: 10vh;
  }

  .buttons {
    position: relative;
    top: -30vh;
    left: 35vw;
    flex-direction: column;
  }
}

@media (max-height: 400px) {
  .image {
    display: none;
  }
  .title,
  .goalsForm,
  .buttons {
    position: static;
    margin: 0 auto;
  }


  .goalsForm {
    width: 50vw;
  }

  .goalsForm button {
    width: auto;
    padding: 5px 10px;
  }

  .goalsForm label {
    margin: 2px 0 2px -10px;
  }
}
