.victories {
    position: fixed;
    bottom: 90px;
    right: 0;
    background-image: url(../../img/victory.jpg);
    background-size: cover;
    width: 50%;
    height: 30%;
    border-radius: 0 0 0 50px;
    padding: 10px 10px 10px 300px;
    z-index: -1;
    animation: show 2s ease-out;
}

.victories p {
    color: #170a01;
    text-align: right;
    font-size: 2vw;
}
