* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: #060200;
}

.container {
  min-width: 40vw;
  min-height: 40vw;
  position: fixed;
  top: 10%;
  left: 25%;
  padding: 3%;
  text-align: center;
  background: linear-gradient(to top, #ff5d00, #9b3800);
  color: #ffcfb3;
  box-shadow: 0 0 1.5rem #9b3800;
  border-radius: 100%;
  z-index: 1;
  animation: grow 2s ease-in-out;
}

input[type="password"],
input[type="email"],
.username {
  margin: 0;
  background: url(./img/challenge.png);
  color: #ffcfb3;
}

h1 {
  color: #ff5c00;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding: 3px 0 0 20px;
  mix-blend-mode: multiply;
  color: #ffcfb3;
  background: #060200;
}

h1:hover {
  cursor: pointer;
}

h1:focus {
  text-decoration: underline;
}

h2 {
  font-size: 1.5rem;
  padding: 20px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  border-radius: 0 0 0 150px;
  margin: 5%;
  padding-top: 5%;
  color: #f3efed;
  animation: show 2s ease-out, slideinleft 2s ease-out;
  border-left: 20px solid #ff5c00;
  width: 70%;
  text-align: right;
}

h4 {
  margin: 5px;
}

span {
  color: #fff;
  background: #9b3800;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bolder;
  display: inline-block;
  width: 150px;
}

.container p {
  padding: 2rem;
}

.container input,
.container button {
  border-radius: 15px;
  padding: 0.7rem;
  display: block;
  font: inherit;
  cursor: pointer;
}

.container input {
  margin: 0;
  border: none;
  width: 70%;
}
.container button {
  margin: 2rem auto 0 auto;
  background: #9b3800;
  color: #ffcfb3;
  border: none;
}

.container button:hover {
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 1rem #ff9c64;
}

.container button:focus {
  border: 0.2rem solid #ff9c64;
}

.container button:active {
  font-size: 0.9em;
}

input:hover {
  cursor: text;
}

input:hover,
input:focus {
  border: 0.2rem solid #ff9c64;
  box-shadow: 0 0 1rem #ff9c64;
  outline: none;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0 0 0 / 0), rgba(0 0 0 / 1)),
    url("./img/mountain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 60%;
  height: 100%;
}

.frisella {
  font-size: 1.1rem;
  padding: 1.5rem;
  width: 28%;
  font-style: italic;
  position: fixed;
  bottom: 20px;
  right: 0;
  animation: slideinright 2s ease-out;
  color: #f3efed;
  text-align: right;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.learn {
  position: fixed;
  top: 5%;
  right: 0;
  background: url("./img/learn.jpg") center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  max-height: 60%;
  z-index: -1;
  animation: show 2s ease-in, slideinright 2s ease-in;
  display: flex;
  justify-content: flex-end;
}

.learn p {
  padding: 0 5% 0 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 10vh;
  font-weight: 900;
  text-align: right;
  mix-blend-mode: multiply;
  color: #ffcfb3;
  background: #060200;
}

.hide {
  display: none;
}

.challElement {
  display: flex;
  justify-content: center;
  margin: 10px;
  animation: growABit 1s ease-in-out;
}

.challenge {
  background: url(./img/challenge.png);
  background-repeat: repeat;
  color: rgb(199 194 194);
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: anywhere;
  border-radius: 7px;
}

.challenge i:hover {
  cursor: pointer;
}

.challenge input {
  margin: 0;
  width: 100%;
  background: none;
  color: rgb(199 194 194);
}

.done {
  font-size: 0.8rem;
  color: #9b3800;
  text-decoration: line-through;
}

.fade {
  opacity: 0.8;
}

.fist {
  display: flex;
  align-items: center;
}

.fist img {
  height: 40px;
}

.timer {
  font-size: 1.2rem;
  margin: 20px;
  line-height: 30px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  max-height: 40vw;
}

.end p {
  padding: 1rem;
}

.end img {
  max-width: 100%;
  height: auto;
  border: 3px solid #ff5c00;
  padding: 20px;
}

.warning {
  margin: 40px 0 0 0;
  color: #9b3800;
}

@media (max-width: 1100px) {
  .container {
    top: 22%;
    min-height: 45vh;
    min-width: 45vh;
  }

  .container input {
    width: 70%;
    margin-top: 0;
  }
  .container label {
    margin-top: 1rem;
  }
  .container input[type="submit"] {
    margin-top: 1rem;
  }

  .learn p {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 0.9rem;
    padding: 2%;
  }
}

@media (max-width: 850px) {
  .main {
    min-height: 80vh;
  }
  .container {
    min-width: 100%;
    position: static;
    border-radius: 0;
    background-position: top;
    padding: 1rem 0.2rem;
    background: none;
    animation: null;
    box-shadow: none;
  }

  .challenge {
    border: 1px solid #ffcfb3;
  }

  .end {
    max-width: 100%;
  }

  h1 {
    padding: 3px;
  }

  .box {
    width: 100%;
    background: linear-gradient(to top, rgba(0 0 0 / 0), rgba(0 0 0 / 1)),
      url("./img/mountain.jpg");
    background-size: cover;
  }

  .frisella {
    display: none;
  }

  .frisella p {
    display: none;
  }

  .learn {
    position: static;
    width: 100%;
    margin-top: 30%;
  }

  .learn p {
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 2rem;
  }

  .end {
    height: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideinleft {
  0% {
    transform: translate(-500px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideinright {
  0% {
    transform: translate(500px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideinbottom {
  0% {
    bottom: -500px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(50%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes growABit {
  0% {
    transform: scale(95%);
  }

  50% {
    transform: scale(103%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes appear {
  0% {
    padding: 10px;
    font-weight: 500;
  }
  50% {
    padding: 12px;
  }
  100% {
    padding: 10px;
    font-weight: bolder;
  }
}
