* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background: #060200;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 40vw;
  min-height: 40vw;
  height: 40vw;
  margin-top: -20vw;
  margin-left: -20vw;
  padding: 3%;
  text-align: center;
  background: linear-gradient(to top, #ff5d00, #9b3800);
  color: #ffcfb3;
  box-shadow: 0 0 1.5rem #9b3800;
  border-radius: 100%;
  z-index: 1;
  animation: grow 2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="password"],
input[type="email"],
.username {
  margin: 0;
  background: url(./img/challenge.png);
  color: #ffcfb3;
}

h1 {
  color: #ff5c00;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding: 3px 0 0 20px;
  mix-blend-mode: multiply;
  color: #ffcfb3;
  background: #060200;
}

h1:hover {
  cursor: pointer;
}

h1:focus {
  text-decoration: underline;
}

h2 {
  font-size: 1.5rem;
  padding: 20px;
}

h4 {
  margin: 5px;
}

span {
  color: #fff;
  background: #9b3800;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: bolder;
  display: inline-block;
  width: 150px;
}

.container input,
.container button {
  border-radius: 15px;
  padding: 0.7rem;
  display: block;
  font: inherit;
  cursor: pointer;
}

.container input {
  margin: 0;
  border: none;
  width: 70%;
}
.container button {
  margin: 2rem auto 0 auto;
  background: #9b3800;
  color: #ffcfb3;
  border: none;
}

.container button:hover {
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 1rem #ff9c64;
}

.container button:focus {
  border: 0.2rem solid #ff9c64;
}

.container button:active {
  font-size: 0.9em;
}

input:hover {
  cursor: text;
}

input:hover,
input:focus {
  border: 0.2rem solid #ff9c64;
  box-shadow: 0 0 1rem #ff9c64;
  outline: none;
}

.box {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0 0 0 / 0), rgba(0 0 0 / 1)),
    url("./img/mountain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 60%;
  height: 100%;
}

.hide {
  display: none;
}

.warning {
  margin: 40px 0 0 0;
  color: #9b3800;
}

@media (max-width: 1100px) {
  .container {
  min-width: 44vw;
  min-height: 44vw;
  height: 44vw;
  margin-top: -22vw;
  margin-left: -22vw;
  }
  .container input {
    width: 70%;
    margin-top: 0;
  }
  .container label {
    margin-top: 1rem;
  }
  .container input[type="submit"] {
    margin-top: 1rem;
  }

  h3 {
    font-size: 0.9rem;
    padding: 2%;
  }
}

@media (max-width: 850px) {
  .container {
    margin: 0;
    height: 100%;
    min-width: 100%;
    position: static;
    border-radius: 0;
    background-position: top;
    padding: 1rem 0.2rem;
    background: none;
    animation: null;
    box-shadow: none;
  }

  h1 {
    padding: 3px;
  }

  .box {
    width: 100%;
    background: linear-gradient(to top, rgba(0 0 0 / 0), rgba(0 0 0 / 1)),
      url("./img/mountain.jpg");
    background-size: cover;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(90%);
  }

  100% {
    transform: scale(100%);
  }
}
