.learn {
    position: fixed;
    top: 50px;
    right: 0;
    background:#9B3800;
    width: 50%;
    height: 30%;
    border-bottom: 10px solid #808080;
    padding: 10px 10px 10px 300px;
    z-index: -1;
}

.learn p {
    font-size: 3rem;
}
