.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.nav p {
background: none;
border: none;
color: #FF5C00;
font-size: 0.9em;
padding: 0 10px 5px 10px;
border-left: 1px solid #fff;
}

.nav p:first-child {
    color: #fff;
    border: none;
}

.nav p:hover {
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
}

.navItemHover {
    font-weight: bold;
    letter-spacing: 2px;
}

.navItemHover:hover {
    font-weight: bold;
    cursor: auto;
}

.user {
    display: flex;
    align-items: center;
    border-left: 1px solid #fff;
}

.user img {
    width: 30px;
    margin-left: 10px;
}

.user p {
    border: none;
    color: #fff;
}