.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  background: #060200;
}

.navItem {
  color: #ff8139;
  font-size: 0.8em;
  padding: 10px;
  border-left: 0.1rem solid #fff;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
}

.navItem:nth-child(2) {
  border: none;
}

.navItem:hover {
  animation: onhover .5s ease forwards;
  cursor: pointer;
}

.navItem:focus {
  border: 0.1rem solid #fff;
}

.navItemClicked {
  color: #ff8139;
  font-size: 0.8em;
  padding: 10px;
  border-left: 0.1rem solid #fff;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #ff5c00;
  cursor: default;
}

.userBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #fff;
  color: #ff8139;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  padding-left: 10px;
}

.userBox:hover {
  animation: onhover .5s ease forwards;
}

.userBoxClicked {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #fff;
  color: #ff8139;
  font-size: 0.8em;
  text-align: center;
  cursor: default;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #ff5c00;
  padding-left: 10px;
}

.userAv {
  width: 3vh;
  height: 3vh;
  margin-right: 10px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.userName {
  padding: 10px;
}

.userBox p {
  border: none;
  color: #fff;
}

@media (max-width: 850px) {
  .nav {
    background-color: #060200;
    flex-wrap: wrap;
    position: relative;
  }
}

@media (max-height: 400px) {
  .userAv {
    width: 9vh;
    height: 9vh;
  }
}

@keyframes onhover {
  from {
    font-weight: normal;
    letter-spacing: 1px;
  }
  to {
    letter-spacing: 2px;
    font-weight: bold;
  }
}
