.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  background: #060200;
}

.navItem {
  color: #ff8139;
  font-size: 0.8em;
  padding: 10px;
  border-left: 0.1rem solid #fff;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
}

.navItem:first-child {
  color: #fff;
  border: none;
}

.navItem:hover {
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
}

.navItem:focus {
  border: 0.1rem solid #fff;
}

.navItemClicked {
  color: #ff8139;
  font-size: 0.8em;
  padding: 10px;
  border-left: 0.1rem solid #fff;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #ff5c00;
  cursor: default;
}

.userBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #fff;
  color: #ff8139;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  padding-left: 10px;
}

.userBox:hover {
  letter-spacing: 2px;
  font-weight: bold;
}

.userBoxClicked {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1rem solid #fff;
  color: #ff8139;
  font-size: 0.8em;
  text-align: center;
  cursor: default;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #ff5c00;
  padding-left: 10px;
}

.userAv {
  width: 30px;
  margin-right: 10px;
}

.userName {
  padding: 10px;
}

.userBox p {
  border: none;
  color: #fff;
}

@media (max-width: 850px) {
  .nav {
    background-color: #060200;
    flex-wrap: wrap;
    position: relative;
  }
}
